<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>

    <add name="Connection"
      connectionString="Data Source=DESKTOP-ROD0HAO\SQLEXPRESS;Initial Catalog=House Rent Final;Integrated Security=True"
      providerName="System.Data.SqlClient" />

  </connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Bunifu.Core" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.11.0.0" newVersion="1.11.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>